@import 'variables.sass'

*
    box-sizing: border-box

body
    margin: 0

.button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 184px
    height: 44px
    font-size: 16px
    line-height: 21px
    font-weight: 700
    color: #363636
    cursor: pointer
    border: none
    background-color: $main-green-color

// @font-face
//     font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
//     font-style: normal
//     font-weight: 600
//     src: local('Montserrat'), require("url('../fonts/Montserrat.woff')") format('truetype')
